.cal-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .calendar {
        margin: 1%;
        border: .5px solid black;
        border-collapse: collapse;

        .month-name {
            text-align: center;
            margin: 0;
        }

        table,
        th,
        td {
            border-collapse: collapse;
        }

        th,
        td {
            text-align: center;
            width: 2em;
            height: 2em;
        }
    }

    .legend {
        width: 15%;

        .square {
            width: 50%;
            aspect-ratio: 1;
        }
    }
}